////////////////////////////////
//   Typography import  ////////
////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);


////////////////////////////////
//   Color Palette  ////////////
////////////////////////////////
$primary-color		: #E84646;
$secondary-color	: #FCAD56;


////////////////////////////////
//   Typography   /////////////
///////////////////////////////
$baseline			: 14px;
$leading			: 1.5;
$font-primary		: 'Source Sans Pro', sans-serif;
$font-secondary		: 'Varela Round', sans-serif;



////////////////////////////////
//   Mixins   /////////////////
///////////////////////////////
@mixin transition{-webkit-transition: .2s all;-moz-transition: .2s all;-ms-transition: .2s all;-o-transition: .2s all;transition: .2s all;}




html{text-rendering: optimizeLegibility; height:100%; min-height:100%;}
body{height:100%; min-height:100%; font-size:$baseline; font-family:$font-primary;}

.columns{padding:0; margin:0;}
.row{max-width:100%;height:100%;}
.clear{clear:both;}

nav{
	position:absolute; 
	z-index:998; 
	top:0; 
	width:100%; 
	background-color:white; 
	height:80px;
}

.nav-logo{
	display:inline;
	position:absolute;
	right:850px;
	width:80px;
	margin-top:20px;
}

nav ul{
	display:inline-block;
	position:absolute;
	right:45px;
}

nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 20px;
}

nav ul li a{
	color:#AFAFAF;
	font-family:$font-secondary;
	@include transition;
}

nav ul li a:hover{
	color:$primary-color;
}

.menu-slash{
	color:$primary-color;
}

.section{
	height:100%; 
	min-height:100%; 
	width:100%; 
	overflow:hidden;
}
.home{
	background-color:$secondary-color; 
	overflow:hidden;
	position:relative;
}

.home-logo{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
  	transform: rotate(-7deg);
  	margin:-80px 0 0 280px;
}


.sidebar{
	height:120%; 
	width:600px; 
	margin-left:-200px;
	background-color:$primary-color; 
	position:absolute; 
	top:-10%; 
	left:0; 
	z-index:999;
	-webkit-transform: rotate(7deg);
	box-shadow:1px 6px 6px rgba(0,0,0,0.25);


}

.home-background{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba($secondary-color, 0.7);
	z-index: 997;
}

.video-container{
	z-index: 900;
}

.more-btn{
	background-color:white;
	box-shadow:0 2px 6px rgba(0,0,0,0.3);
	position:absolute;
	bottom:45px;
	right:45px;
	width:60px;
	height:60px;
	z-index:999;
	border-radius:50%;
	text-align:center;
}

.more-btn a{
	line-height:60px;
	color:$primary-color;
	font-weight:800;
}


