////////////////////////////////
//   Typography import  ////////
////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);
@import url("//hello.myfonts.net/count/25b8af");
////////////////////////////////
//   Color Palette  ////////////
////////////////////////////////
$primary-color		: #E84646;
$secondary-color	: #FCAD56;
$tertiary-color		: #FFFFFF;
$quaternary-color	: #AFAFAF;
$quinary-color		: #434343;
////////////////////////////////
//   Typography   /////////////
///////////////////////////////
$baseline			: 14px;
$leading			: 1.5;
$font-primary		: 'Source Sans Pro', sans-serif;
$font-secondary		: 'ProximaNovaSoft-Semibold';
$font-primary-rounded		: 'ProximaNovaSoft-regular';
////////////////////////////////
//   Mixins   /////////////////
///////////////////////////////
@mixin transition{-webkit-transition: .2s all;-moz-transition: .2s all;-ms-transition: .2s all;-o-transition: .2s all;transition: .2s all;}
@mixin transition-slow{-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;-o-transition: .5s all;transition: .5s all;}
@mixin transition-fast{-webkit-transition: .1s all;-moz-transition: .1s all;-ms-transition: .1s all;-o-transition: .1s all;transition: .1s all;}
@mixin centered{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}


////////////////////////////////
//   Resets   /////////////////
///////////////////////////////


html{text-rendering: optimizeLegibility; height:100%; min-height:100%;}
body{height:100%; min-height:100%; font-size:$baseline; font-family:$font-primary;}

.columns{padding:0; margin:0;}
.row{width:100%;height:100%; max-width:100%; }
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child{float: left !important;}
.clear{clear:both;}


///////////////////
// Navigatie sectie
///////////////////

#navigation{-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;position:absolute;z-index:999; top:0; width:100%; background-color:white; height:80px;box-shadow:1px 1px 1px rgba(0,0,0,0.25);-webkit-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-moz-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-o-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);@include transition-slow;}
#navigation.active{position: fixed !important; top: 0;bottom: 0;height: 105px;background: rgba(255,255,255,0.9);-webkit-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-moz-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-o-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);@include transition-slow;z-index:999;}
.nav-logo{display:inline;position:absolute;right:850px;width:80px;margin-top:25px;}
.nav-logo.active{display:inline;position:absolute;left:45px;width:80px;margin-top:32.5px;}
.nav-items.active{line-height:105px;}
nav ul{display:inline-block;position:absolute;right:45px;}
nav ul li{display:inline-block;line-height:80px !important;margin:0 20px;}
nav ul li a{color:#AFAFAF;font-family:$font-secondary;font-size:$baseline;@include transition;}
nav ul li a:hover{color:$primary-color;}
.menu-slash{color:$primary-color;webkit-user-select:none;}


///////////////////
// Home sectie
///////////////////

	.section{height:100%; min-height:100%; width:100%; overflow:hidden;}
	.home{background-color:$secondary-color; overflow:hidden;position:relative;}

	.home-logo{position: relative;top: 50%;width:238px;-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);-webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg);margin:-80px 0 0 280px;}
	.sidebar{height:120%; width:600px; margin-left:-200px;background-color:$primary-color; position:absolute; top:-10%; left:0; z-index:999;-webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-o-transform: rotate(7deg);-webkit-transform: rotate(7deg);box-shadow:1px 6px 6px rgba(0,0,0,0.5);-webkit-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-moz-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-o-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);}
	.sidebar video {height:150px;width:200px;border-right:solid 1px $primary-color;}

	@keyframes sidebar-slidein {0%   {margin-left:-800px;} 100% {margin-left:-200px;}}
	@keyframes navigation-slidein {0%   {margin-top:-80px;}100% {margin-top:0px !important;}}
	@keyframes more-btn-bouncein {0%   {bottom:-35px;} 25%	 {bottom:50px;} 50%  {bottom:35px;} 75%  {bottom:45px;} 100% {bottom:35px;}}
	@keyframes more-btn-bounce {0%   {bottom:35px;}50%  {bottom:50px;}100% {bottom:30px;}}

	.home-background{height: 100%;width: 100%;position: absolute;top:0;left: 0;background-color: rgba(75,75,75, 0.50);z-index: 997;}
	.video-container{z-index: 900;}
	.more-btn-div{-webkit-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-moz-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);-o-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);position:absolute;bottom:35px;right:35px;z-index:999;}
	.more-btn{background-color:white;box-shadow:0 2px 6px rgba(0,0,0,0.3);width:60px;height:60px;border-radius:50%;text-align:center;position:absolute;bottom:35px;right:35px;cursor:pointer;}
	.more-btn:hover{-webkit-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);-moz-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);-o-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);}
	.more-btn p{line-height:60px;color:$primary-color;font-weight:800;}

///////////////////
// Hoe & Wat sectie
///////////////////

.hoe-wat-header{background-color:white;}
.hoe-wat-header h1{padding:30px 0;text-align:center;font-family:$font-primary-rounded;color:$primary-color;font-size:24px;}

.box-items-whatwedo{margin: 0 auto;}
.whatwedo-box{position: relative;width: 33.3%;height: 300px;overflow: hidden;margin:0;border:solid 1px #F4F4F4;background-color:$primary-color;box-sizing:border-box;}
.whatwedo-cover{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;background-color:transparent;}

.whatwedo-cover:hover ~ .whatwedo-cover-left{left:-370px;@include transition-slow;animation-delay:.3s;}
.whatwedo-cover:hover ~ .whatwedo-cover-right{right:-370px;@include transition-slow;}
.whatwedo-cover:hover ~ .items-icon svg{margin:-50px auto 0 10%;width:100px;@include transition-slow;}
.whatwedo-cover:hover ~ .items-icon .icon-color{stroke:white !important;@include transition-slow;}
.whatwedo-cover:hover ~ .items-icon .icon-color-2{fill:white !important;@include transition-slow;}
.whatwedo-cover:hover ~ .items-heading{margin-top:280px;@include transition-slow;}

.whatwedo-cover-left{position: absolute;top:-25px;left: -25px;z-index:2;height: 350px;width: 350px;background-color: white;@include transition-slow;	-webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-o-transform: rotate(7deg);transform: rotate(7deg); }
.whatwedo-cover-right{position: absolute;top:-25px;right: -25px;z-index:2;background-color: white;height: 350px;width: 350px;@include transition-slow;-webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-o-transform: rotate(7deg);transform: rotate(7deg);}

.items-heading{max-width:150px;width:100px;margin:-30px auto 0 auto;position:relative;z-index:3;text-align:center;color:$secondary-color;font-family:$font-secondary;text-transform:uppercase;font-size:1em;@include transition;}
.items-icon{max-width:120px;margin:0 auto;}
.items-icon svg{max-width:120px;width:100%;position: relative;z-index:3;@include transition;}
.item-whatwedo-below{height: 100px;width: 100%;z-index: 1;@include centered;}
.item-whatwedo-below p{text-align:center;font-size:14px;max-width:90%;margin-left:5%;color:white;line-height:21px;font-family:$font-primary-rounded;}
.item-whatwedo-below h1{margin-top:30px;font-family:$font-secondary;text-transform:uppercase;text-align:center;color:$secondary-color;font-size:1.3em;line-height:21px;}

///////////////////
// Portfolio sectie
///////////////////

	.portfolio-header{ height:auto; background-color: $primary-color;}
	.portfolio-header h1{padding:30px 0;text-align:center;font-family:$font-primary-rounded;color:$tertiary-color;font-size:24px; }

	.portfolio{width: 100%;position: relative;}
	.portfolio-item{background-color:$tertiary-color; position:relative; overflow:hidden !important; height: 100%; min-height:100%; width: 100%;}

	.item-info{float:left; padding:100px 0; position:relative; z-index:998; max-width:70%; width:100%;}
	.item-info h1{text-align: left;margin-left: 12.5%; color: $primary-color;font-family:$font-secondary;font-size: 3.5em;line-height: 0.6}
	.slash{color:$secondary-color;font-family:$font-primary;text-shadow: 3px 0px 0px rgba(252, 173, 86, 1);padding-bottom: 20px;position: absolute;left: 10%;margin-top: -4px;}
	.item-info p{text-align: left;margin-left: 10%;	margin-top: 15px;color:#C6C6C6;}
	.text-portfolio{margin: 20px 0;width: 80%;color: $quinary-color !important;font-weight: 300;}
	.view-site{margin-left: 10%;margin-top: 40px;border-radius: 50px;padding:10px 20px;font-size:1em;background-color: $tertiary-color;border: 3px solid $primary-color;color:$primary-color;font-family: $font-primary-rounded;@include transition;}
	.view-site:hover{background-color: $primary-color;color: $tertiary-color;	@include transition;}
	.view-site img{width: 6px;margin-left: 10px; margin-top:-2px;}
	.view-case{margin-left:5px;margin-top: 40px;border-radius: 50px;padding:10px 20px;font-size:1em;background-color: $tertiary-color;border: 3px solid #f4f4f4;color:#C6C6C6;font-family: $font-primary-rounded;@include transition;}
	.view-case:hover{background-color:white; color:#c6c6c6; border:solid 3px $primary-color;	@include transition;}
	.view-case img{width: 6px;margin-left: 10px; margin-top:-2px;}

	.sidebar-portfolio-right{height:120%; overflow:hidden; width:30%;background-color:$primary-color; position:absolute; top:-10%; right:-30px; -webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-o-transform: rotate(7deg);}
	.sidebar-portfolio-right img{position:relative; object-fit:cover; height:100%; width:120%; left: -5%; -webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg);}

	.sidebar-portfolio-left{height:120%; overflow:hidden; width:30%;background-color:$primary-color; position:absolute; top:-10%; left:-30px; -webkit-transform: rotate(7deg);-moz-transform: rotate(7deg);-o-transform: rotate(7deg);}
	.sidebar-portfolio-left img{object-fit:cover; height:100%; width:115%; margin-left:5.3%;-webkit-transform: rotate(-7deg);-moz-transform: rotate(-7deg);-o-transform: rotate(-7deg);transform: rotate(-7deg);}
	.item-info-right{margin-left:30%;}

	.showcase{height:127px; overflow:hidden;}
	.showcase:hover .showcase-logos{margin-top:-127px; @include transition;}
	.showcase-logos{background-color:#f4f4f4; @include transition}
	.showcase-logos ul{display:table; max-width:1400px; margin:0 auto;}
	.showcase-logos ul li{display:inline;}
	.showcase-logos img{width:120px; padding:30px 0; margin:0 80px;}

	.showcase-projects{padding:40px 0;background-color:$secondary-color; @include transition}
	.showcase-projects a{color:$primary-color; background-color:white; font-family:$font-primary-rounded; font-size:1em; border:solid 3px white; padding:10px 20px; border-radius:50px; text-align:center; max-width:200px; margin:0 auto; display:block;}
	.showcase-projects a:hover{background-color:white; color:$primary-color; @include transition;}
	.showcase-projects img{width:6px; margin-left:10px;}

///////////////////
// Contact sectie
///////////////////

.contact-header{ height:auto; background-color:white;}
.contact-header h1{padding:30px 0;text-align:center;font-family:$font-primary-rounded;color:$primary-color;font-size:24px; }



///////////////////
// Contact sectie
///////////////////
​
.contact-header{ height:auto; background-color:white;}
.contact-header h1{padding:30px 0;text-align:center;font-family:$font-primary-rounded;color:$primary-color;font-size:24px; }
​
.contact-section{background-color:white;}
​
.contactform {max-width:1024px; margin:0 auto;}
.contactform p{ text-align:center; color:$quinary-color; font-weight:300; line-height:16px;}
.contactform p input[type="text"]{display:inline; background-color:transparent; height:auto; padding:0 !important; margin:0 5px !important; width:auto; text-align:center; border:none; outline:none; box-shadow:none; color:$primary-color; font-weight:700;}
.contactform p input[type="text"]:hover{background-color:transparent;}
.contactform p input[type="text"]:active{background-color:transparent;}


///////////////////
// Portfolio page
///////////////////

.back-home{position: absolute; margin-left: 10%;margin-top: 30px;border-radius: 50px;padding:10px 20px;font-size:1em;background-color: $tertiary-color;border: 3px solid $primary-color;color:$primary-color;font-family: $font-primary-rounded;@include transition;}
.back-home img{width: 6px;margin-right: 10px; margin-top:-2px;}
.back-home:hover{background-color: $secondary-color;color: $tertiary-color;	@include transition;}








///////////////////
// Portfolio-item sectie
///////////////////

.item-header{position: relative; min-width: 100%; width: 100%;}
.case-info h1{text-align: center; margin-top: 70px;  font-family:$font-secondary; color:$primary-color;}
.case-info {width: 60%; margin: 0 auto; text-align:center;}
.case-info p{color:$quinary-color; margin-top: 30px;}
.no-margin{margin: 0 !important; padding: 0;}
.case-explain{ padding-bottom: 150px;}
.case-explain h2{ margin-top: 40px; margin-bottom: 0; font-size: 2em; color: $secondary-color;}

.sidebar-case{ position:relative; padding:20px 0;}
.sidebar-case-text-left{height: 100%; position: relative; margin-top:150px; }
.sidebar-case-text-left h1{text-align: left; margin-top: 40px; font-size: 2.5em; font-family:$font-secondary; color:$primary-color; width:75%; margin:0 auto;}
.sidebar-case-text-left p{text-align: left; color:$quinary-color; width:75%; margin:0 auto; }
.sidebar-case-picture-right{height: 100%; position:relative; float:left;}
.sidebar-case-picture-right img{ height:500px; max-width:650px; width:100%; background-color:lightgray; float:right; box-shadow:0 1px 6px rgba(0,0,0,0.2);}

.sidebar-case-text-right{height: 100%; position: relative; margin-top:150px; }
.sidebar-case-text-right h1{text-align: left; margin-top: 40px; font-size: 2.5em; font-family:$font-secondary; color:$primary-color; width:75%; margin:0 auto;}
.sidebar-case-text-right p{text-align: left; color:$quinary-color; width:75%; margin:0 auto; }
.sidebar-case-picture-left{height: 100%; position:relative; float:left;}
.sidebar-case-picture-left img{ height:500px; max-width:650px; width:100%; background-color:lightgray; float:left; box-shadow:0 1px 6px rgba(0,0,0,0.2);}

.showcase-projects.detail{background-color:none; }

.background-recensie{background-color:$secondary-color;}
.case-recensie {width: 40%; padding:60px 0; margin: 0 auto; float: none;}
.recensie{ text-align:left; margin: 0 auto; }
.recensie h3{ color: white; text-align:center; font-family:$font-secondary;}
.recensie p{color: white; text-align:center; margin-top:5px; font-family:$font-primary; font-weight:italic;  }
.recensie hr{width: 75%; border:none; border-bottom:solid 3px rgba(0,0,0,0.1); padding:0; margin: 0 auto;}

.more-items{position: relative;}
.previous-item{ float: left; width: 50%; background-color: lightgray; padding:40px 0;}
.previous-item h1{text-align: center; font-size: 2em;}
.next-item{  float: left; width: 50%; padding:40px 0;}
.next-item h1{text-align: center;   font-size: 2em;}
