////////////////////////////////
//   Typography import  ////////
////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);

@import url("//hello.myfonts.net/count/25b8af");


////////////////////////////////
//   Color Palette  ////////////
////////////////////////////////
$primary-color		: #E84646;
$secondary-color	: #FCAD56;


////////////////////////////////
//   Typography   /////////////
///////////////////////////////
$baseline			: 14px;
$leading			: 1.5;
$font-primary		: 'Source Sans Pro', sans-serif;
$font-secondary		: 'ProximaNovaSoft-Semibold';
$font-primary-rounded		: 'ProximaNovaSoft-regular';



////////////////////////////////
//   Mixins   /////////////////
///////////////////////////////
@mixin transition{-webkit-transition: .2s all;-moz-transition: .2s all;-ms-transition: .2s all;-o-transition: .2s all;transition: .2s all;}
@mixin transition-slow{-webkit-transition: .5s all;-moz-transition: .5s all;-ms-transition: .5s all;-o-transition: .5s all;transition: .5s all;}
@mixin transition-fast{-webkit-transition: .1s all;-moz-transition: .1s all;-ms-transition: .1s all;-o-transition: .1s all;transition: .1s all;}
@mixin centered{position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}

/* even extra STAN */

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child{
	float: left !important;
}


html{text-rendering: optimizeLegibility; height:100%; min-height:100%;}
body{height:100%; min-height:100%; font-size:$baseline; font-family:$font-primary;}
p{margin-bottom: 0!important;}

.columns{padding:0; margin:0;}
.row{width:100%;height:100%; max-width:100%; }
.clear{clear:both;}

#navigation{
	-webkit-user-select: none;  
  	-moz-user-select: none;     
  	-ms-user-select: none;      
  	user-select: none;   
	position:absolute;
	z-index:998; 
	top:0; 
	width:100%; 
	background-color:white; 
	height:80px;
	box-shadow:1px 1px 1px rgba(0,0,0,0.25);
	-webkit-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	@include transition-slow;
}

#navigation.active{ 
	position: fixed !important; 
	top: 0;
	bottom: 0;
	height: 80px;
	background: white;
	-webkit-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	animation: navigation-slidein .3s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	@include transition-slow;
}

.nav-logo{
	display:inline;
	position:absolute;
	right:850px;
	width:80px;
	margin-top:20px;
}

.nav-logo.active{
	display:inline;
	position:absolute;
	left:45px;
	width:80px;
	margin-top:20px;
}

nav ul{
	display:inline-block;
	position:absolute;
	right:45px;
}

nav ul li{
	display:inline-block;
	line-height:80px;
	margin:0 20px;
}

nav ul li a{
	color:#AFAFAF;
	font-family:$font-secondary;
	font-size:$baseline;
	@include transition;
}

nav ul li a:hover{
	color:$primary-color;

}

.menu-slash{
	color:$primary-color;
	webkit-user-select:none;
}

.section{
	height:100%; 
	min-height:100%; 
	width:100%; 
	overflow:hidden;
}
.home{
	background-color:$secondary-color; 
	overflow:hidden;
	position:relative;
}

.home-logo{
	position: relative;
  	top: 50%;
  	width:238px;
  	-webkit-transform: translateY(-50%);
  	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
  	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
  	-webkit-transform: rotate(-7deg);
  	-moz-transform: rotate(-7deg);
  	-o-transform: rotate(-7deg);
  	transform: rotate(-7deg);
  	margin:-80px 0 0 280px;
}


.sidebar{
	height:120%; 
	width:600px; 
	margin-left:-200px;
	background-color:$primary-color; 
	position:absolute; 
	top:-10%; 
	left:0; 
	z-index:999;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	-webkit-transform: rotate(7deg);
	box-shadow:1px 6px 6px rgba(0,0,0,0.5);
	-webkit-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	animation: sidebar-slidein .5s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.sidebar video {
	height:150px;
	width:200px;
	border-right:solid 1px $primary-color;
}


@keyframes sidebar-slidein {
    0%   {margin-left:-800px;}
    100% {margin-left:-200px;}
}

@keyframes navigation-slidein {
    0%   {margin-top:-80px;}
    100% {margin-top:0px !important;}
}

@keyframes more-btn-bouncein {
    0%   {bottom:-35px;}
    25%	 {bottom:50px;}
    50%  {bottom:35px;}
    75%  {bottom:45px;}
    100% {bottom:35px;}
}

@keyframes more-btn-bounce {
    0%   {bottom:35px;}
    50%  {bottom:50px;}
    100% {bottom:30px;}
}



.home-background{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba(75,75,75, 0.50);
	z-index: 997;
}

.video-container{
	z-index: 900;
}

.more-btn-div{
	-webkit-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	animation: more-btn-bouncein .8s  cubic-bezier(0.645, 0.045, 0.355, 1.000);
	position:absolute;
	bottom:35px;
	right:35px;
	z-index:999;
}

.more-btn{
	background-color:white;
	box-shadow:0 2px 6px rgba(0,0,0,0.3);
	width:60px;
	height:60px;
	border-radius:50%;
	text-align:center;
	position:absolute;
	bottom:35px;
	right:35px;
	cursor:pointer;
}

.more-btn:hover{

	-webkit-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-moz-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
	-o-animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
	animation: more-btn-bounce .6s infinite cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.more-btn p{
	line-height:60px;
	color:$primary-color;
	font-weight:800;
}



.hoe-wat-header{background-color:white;}
.hoe-wat-header h1{padding:30px 0;text-align:center;font-family:$font-primary-rounded;color:$primary-color;font-size:24px;}

.box-items-whatwedo{margin: 0 auto;}
.whatwedo-box{position: relative;width: 33.3%;height: 300px;overflow: hidden;margin:0;border:solid .5px #F4F4F4;background-color:$primary-color;box-sizing:border-box;}
.whatwedo-cover{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%;background-color:transparent;}


.whatwedo-cover:hover ~ .whatwedo-cover-left{left:-370px;@include transition-slow;animation-delay:.3s;}
.whatwedo-cover:hover ~ .whatwedo-cover-right{right:-370px;@include transition-slow;}
.whatwedo-cover:hover ~ .items-icon svg{margin:-50px auto 0 10%;width:100px;@include transition-slow;}
.whatwedo-cover:hover ~ .items-icon .icon-color{stroke:white !important;@include transition-slow;}
.whatwedo-cover:hover ~ .items-heading{margin-top:280px;@include transition-slow;}

.whatwedo-cover-left{
	position: absolute;
	top:-25px;
	left: -25px;
	z-index:2;
	height: 350px;
	width: 350px;
	background-color: white;
	@include transition-slow;	
	-webkit-transform: rotate(7deg);
  	-moz-transform: rotate(7deg);
  	-o-transform: rotate(7deg);
  	transform: rotate(7deg); 
}
.whatwedo-cover-right{
	position: absolute;
	top:-25px;
	right: -25px;
	z-index:2;
	background-color: white;
	height: 350px;
	width: 350px;
	@include transition-slow;
	-webkit-transform: rotate(7deg);
  	-moz-transform: rotate(7deg);
  	-o-transform: rotate(7deg);
  	transform: rotate(7deg);

}
.items-heading{
	max-width:150px;
	width:100px;
	margin:-30px auto 0 auto;
	position:relative;
	z-index:3;
	text-align:center;
	color:$secondary-color;
	font-family:$font-secondary;
	text-transform:uppercase;
	font-size:1em;
	@include transition;
}

.items-icon{
	max-width:120px;
	margin:0 auto;
}
.items-icon svg{
	max-width:120px;
	width:100%;
	position: relative;
	z-index:3;
	@include transition;
}
.item-whatwedo-below{
	height: 100px;
	width: 100%;
	z-index: 1;
	@include centered;
}
.item-whatwedo-below p{
	text-align:center;
	font-size:14px;
	max-width:90%;
	margin-left:5%;
	color:white;
	line-height:21px;
	font-family:$font-primary-rounded;
}
.item-whatwedo-below h1{
	margin-top:30px;
	font-family:$font-secondary;
	text-transform:uppercase;
	text-align:center;
	color:$secondary-color;
	font-size:1.3em;
	line-height:21px;
}