////////////////////////////////
//   Typography import  ////////
////////////////////////////////
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);


////////////////////////////////
//   Color Palette  ////////////
////////////////////////////////
$primary-color		: #E84646;
$secondary-color	: #FCAD56;


////////////////////////////////
//   Typography   /////////////
///////////////////////////////
$baseline			: 16px;
$leading			: 1.5;
$font-primary		: 'Source Sans Pro', sans-serif;
$font-secondary		: 'Varela Round', sans-serif;




html{text-rendering: optimizeLegibility; height:100%; min-height:100%;}
body{height:100%; min-height:100%; font-size:$baseline; font-family:$font-primary;}

.columns{padding:0; margin:0;}
.row{max-width:100%;height:100%;}
.clear{clear:both;}

nav{
	position:absolute; 
	z-index:998; 
	top:0; 
	width:100%; 
	background-color:white; 
	height:80px;
}

nav ul li{
	display:inline-block;
}

.section{
	height:100%; 
	min-height:100%; 
	width:100%; 
	overflow:hidden;
}
.home{
	background-color:$secondary-color; 
	overflow:hidden;
}


.sidebar{
	height:100%; 
	width:400px; 
	background-color:$primary-color; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:999;
}

.hoek{
	position:absolute;
	margin-left:400px;
	top:0;
	width: 0; 
  	height: 0; 
  	border-top: 752px solid $primary-color; 
  	border-right: 100px solid transparent;
}

