@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);
@import url("//hello.myfonts.net/count/25b8af");
html {
  text-rendering: optimizeLegibility;
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif; }

.columns {
  padding: 0;
  margin: 0; }

.row {
  width: 100%;
  height: 100%;
  max-width: 100%; }

.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
  float: left !important; }

.clear {
  clear: both; }

#navigation {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

#navigation.active {
  position: fixed !important;
  top: 0;
  bottom: 0;
  height: 105px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  z-index: 999; }

.nav-logo {
  display: inline;
  position: absolute;
  right: 850px;
  width: 80px;
  margin-top: 25px; }

.nav-logo.active {
  display: inline;
  position: absolute;
  left: 45px;
  width: 80px;
  margin-top: 32.5px; }

.nav-items.active {
  line-height: 105px; }

nav ul {
  display: inline-block;
  position: absolute;
  right: 45px; }

nav ul li {
  display: inline-block;
  line-height: 80px !important;
  margin: 0 20px; }

nav ul li a {
  color: #AFAFAF;
  font-family: "ProximaNovaSoft-Semibold";
  font-size: 14px;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

nav ul li a:hover {
  color: #E84646; }

.menu-slash {
  color: #E84646;
  webkit-user-select: none; }

.section {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.home {
  background-color: #FCAD56;
  overflow: hidden;
  position: relative; }

.home-logo {
  position: relative;
  top: 50%;
  width: 238px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin: -80px 0 0 280px; }

.sidebar {
  height: 120%;
  width: 600px;
  margin-left: -200px;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 999;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
  -webkit-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.sidebar video {
  height: 150px;
  width: 200px;
  border-right: solid 1px #E84646; }

@keyframes sidebar-slidein {
  0% {
    margin-left: -800px; }
  100% {
    margin-left: -200px; } }
@keyframes navigation-slidein {
  0% {
    margin-top: -80px; }
  100% {
    margin-top: 0px !important; } }
@keyframes more-btn-bouncein {
  0% {
    bottom: -35px; }
  25% {
    bottom: 50px; }
  50% {
    bottom: 35px; }
  75% {
    bottom: 45px; }
  100% {
    bottom: 35px; } }
@keyframes more-btn-bounce {
  0% {
    bottom: 35px; }
  50% {
    bottom: 50px; }
  100% {
    bottom: 30px; } }
.home-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(75, 75, 75, 0.5);
  z-index: 997; }

.video-container {
  z-index: 900; }

.more-btn-div {
  -webkit-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 999; }

.more-btn {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 35px;
  right: 35px;
  cursor: pointer; }

.more-btn:hover {
  -webkit-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1); }

.more-btn p {
  line-height: 60px;
  color: #E84646;
  font-weight: 800; }

.hoe-wat-header {
  background-color: white; }

.hoe-wat-header h1 {
  padding: 30px 0;
  text-align: center;
  font-family: "ProximaNovaSoft-regular";
  color: #E84646;
  font-size: 24px; }

.box-items-whatwedo {
  margin: 0 auto; }

.whatwedo-box {
  position: relative;
  width: 33.3%;
  height: 300px;
  overflow: hidden;
  margin: 0;
  border: solid 1px #F4F4F4;
  background-color: #E84646;
  box-sizing: border-box; }

.whatwedo-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.whatwedo-cover:hover ~ .whatwedo-cover-left {
  left: -370px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  animation-delay: .3s; }

.whatwedo-cover:hover ~ .whatwedo-cover-right {
  right: -370px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-icon svg {
  margin: -50px auto 0 10%;
  width: 100px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-icon .icon-color {
  stroke: white !important;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-icon .icon-color-2 {
  fill: white !important;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-heading {
  margin-top: 280px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover-left {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 2;
  height: 350px;
  width: 350px;
  background-color: white;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg); }

.whatwedo-cover-right {
  position: absolute;
  top: -25px;
  right: -25px;
  z-index: 2;
  background-color: white;
  height: 350px;
  width: 350px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg); }

.items-heading {
  max-width: 150px;
  width: 100px;
  margin: -30px auto 0 auto;
  position: relative;
  z-index: 3;
  text-align: center;
  color: #FCAD56;
  font-family: "ProximaNovaSoft-Semibold";
  text-transform: uppercase;
  font-size: 1em;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.items-icon {
  max-width: 120px;
  margin: 0 auto; }

.items-icon svg {
  max-width: 120px;
  width: 100%;
  position: relative;
  z-index: 3;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.item-whatwedo-below {
  height: 100px;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.item-whatwedo-below p {
  text-align: center;
  font-size: 14px;
  max-width: 90%;
  margin-left: 5%;
  color: white;
  line-height: 21px;
  font-family: "ProximaNovaSoft-regular"; }

.item-whatwedo-below h1 {
  margin-top: 30px;
  font-family: "ProximaNovaSoft-Semibold";
  text-transform: uppercase;
  text-align: center;
  color: #FCAD56;
  font-size: 1.3em;
  line-height: 21px; }

.portfolio-header {
  height: auto;
  background-color: #E84646; }

.portfolio-header h1 {
  padding: 30px 0;
  text-align: center;
  font-family: "ProximaNovaSoft-regular";
  color: #FFFFFF;
  font-size: 24px; }

.portfolio {
  width: 100%;
  position: relative; }

.portfolio-item {
  background-color: #FFFFFF;
  position: relative;
  overflow: hidden !important;
  height: 100%;
  min-height: 100%;
  width: 100%; }

.item-info {
  float: left;
  padding: 100px 0;
  position: relative;
  z-index: 998;
  max-width: 70%;
  width: 100%; }

.item-info h1 {
  text-align: left;
  margin-left: 12.5%;
  color: #E84646;
  font-family: "ProximaNovaSoft-Semibold";
  font-size: 3.5em;
  line-height: 0.6; }

.slash {
  color: #FCAD56;
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 3px 0px 0px #fcad56;
  padding-bottom: 20px;
  position: absolute;
  left: 10%;
  margin-top: -4px; }

.item-info p {
  text-align: left;
  margin-left: 10%;
  margin-top: 15px;
  color: #C6C6C6; }

.text-portfolio {
  margin: 20px 0;
  width: 80%;
  color: #434343 !important;
  font-weight: 300; }

.view-site {
  margin-left: 10%;
  margin-top: 40px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #FFFFFF;
  border: 3px solid #E84646;
  color: #E84646;
  font-family: "ProximaNovaSoft-regular";
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.view-site:hover {
  background-color: #E84646;
  color: #FFFFFF;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.view-site img {
  width: 6px;
  margin-left: 10px;
  margin-top: -2px; }

.view-case {
  margin-left: 5px;
  margin-top: 40px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #FFFFFF;
  border: 3px solid #f4f4f4;
  color: #C6C6C6;
  font-family: "ProximaNovaSoft-regular";
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.view-case:hover {
  background-color: white;
  color: #c6c6c6;
  border: solid 3px #E84646;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.view-case img {
  width: 6px;
  margin-left: 10px;
  margin-top: -2px; }

.sidebar-portfolio-right {
  height: 120%;
  overflow: hidden;
  width: 30%;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  right: -30px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg); }

.sidebar-portfolio-right img {
  position: relative;
  object-fit: cover;
  height: 100%;
  width: 120%;
  left: -5%;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg); }

.sidebar-portfolio-left {
  height: 120%;
  overflow: hidden;
  width: 30%;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  left: -30px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg); }

.sidebar-portfolio-left img {
  object-fit: cover;
  height: 100%;
  width: 115%;
  margin-left: 5.3%;
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg); }

.item-info-right {
  margin-left: 30%; }

.showcase {
  height: 127px;
  overflow: hidden; }

.showcase:hover .showcase-logos {
  margin-top: -127px;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.showcase-logos {
  background-color: #f4f4f4;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.showcase-logos ul {
  display: table;
  max-width: 1400px;
  margin: 0 auto; }

.showcase-logos ul li {
  display: inline; }

.showcase-logos img {
  width: 120px;
  padding: 30px 0;
  margin: 0 80px; }

.showcase-projects {
  padding: 40px 0;
  background-color: #FCAD56;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.showcase-projects a {
  color: #E84646;
  background-color: white;
  font-family: "ProximaNovaSoft-regular";
  font-size: 1em;
  border: solid 3px white;
  padding: 10px 20px;
  border-radius: 50px;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  display: block; }

.showcase-projects a:hover {
  background-color: white;
  color: #E84646;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.showcase-projects img {
  width: 6px;
  margin-left: 10px; }

.contact-header {
  height: auto;
  background-color: white; }

.contact-header h1 {
  padding: 30px 0;
  text-align: center;
  font-family: "ProximaNovaSoft-regular";
  color: #E84646;
  font-size: 24px; }

​
.contact-header {
  height: auto;
  background-color: white; }

.contact-header h1 {
  padding: 30px 0;
  text-align: center;
  font-family: "ProximaNovaSoft-regular";
  color: #E84646;
  font-size: 24px; }

​
.contact-section {
  background-color: white; }

​
.contactform {
  max-width: 1024px;
  margin: 0 auto; }

.contactform p {
  text-align: center;
  color: #434343;
  font-weight: 300;
  line-height: 16px; }

.contactform p input[type="text"] {
  display: inline;
  background-color: transparent;
  height: auto;
  padding: 0 !important;
  margin: 0 5px !important;
  width: auto;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: none;
  color: #E84646;
  font-weight: 700; }

.contactform p input[type="text"]:hover {
  background-color: transparent; }

.contactform p input[type="text"]:active {
  background-color: transparent; }

.back-home {
  position: absolute;
  margin-left: 10%;
  margin-top: 30px;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #FFFFFF;
  border: 3px solid #E84646;
  color: #E84646;
  font-family: "ProximaNovaSoft-regular";
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.back-home img {
  width: 6px;
  margin-right: 10px;
  margin-top: -2px; }

.back-home:hover {
  background-color: #FCAD56;
  color: #FFFFFF;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }
