@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);
/* even extra STAN */
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
  float: left !important; }

html {
  text-rendering: optimizeLegibility;
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll; }

p {
  margin-bottom: 0 !important; }

.columns {
  padding: 0;
  margin: 0; }

.row {
  width: 100%;
  height: 100%; }

.clear {
  clear: both; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  z-index: 998;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -webkit-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav-logo {
  display: inline;
  position: absolute;
  right: 850px;
  width: 80px;
  margin-top: 20px; }

nav ul {
  display: inline-block;
  position: absolute;
  right: 45px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px; }

nav ul li a {
  color: #AFAFAF;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

nav ul li a:hover {
  color: #E84646; }

.menu-slash {
  color: #E84646;
  webkit-user-select: none; }

.section {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.home {
  background-color: #FCAD56;
  overflow: hidden;
  position: relative; }

.home-logo {
  position: relative;
  top: 50%;
  width: 238px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin: -80px 0 0 280px; }

.sidebar {
  height: 120%;
  width: 600px;
  margin-left: -200px;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 999;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
  -webkit-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.sidebar video {
  height: 150px;
  width: 200px;
  border-right: solid 1px #E84646; }

@keyframes sidebar-slidein {
  0% {
    margin-left: -800px; }
  100% {
    margin-left: -200px; } }
@keyframes navigation-slidein {
  0% {
    margin-top: -80px; }
  100% {
    margin-top: 0px !important; } }
@keyframes more-btn-bouncein {
  0% {
    bottom: -35px; }
  25% {
    bottom: 50px; }
  50% {
    bottom: 35px; }
  75% {
    bottom: 45px; }
  100% {
    bottom: 35px; } }
@keyframes more-btn-bounce {
  0% {
    bottom: 35px; }
  50% {
    bottom: 50px; }
  100% {
    bottom: 30px; } }
.home-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(252, 173, 86, 0.3);
  z-index: 997; }

.video-container {
  z-index: 900; }

.more-btn-div {
  -webkit-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 999; }

.more-btn {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 35px;
  right: 35px;
  cursor: pointer; }

.more-btn:hover {
  -webkit-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1); }

.more-btn p {
  line-height: 60px;
  color: #E84646;
  font-weight: 800; }

.hoe-wat {
  padding: 20px 0; }

.hoe-wat-header h1 {
  margin-top: 100px;
  color: #E84646;
  font-family: "Varela Round", sans-serif;
  font-size: bold; }

.hoe-wat-header p {
  width: 100%;
  color: #AFAFAF; }

.box-items-whatwedo {
  margin: 0 auto;
  margin-top: 50px; }

.whatwedo-box {
  position: relative;
  width: 250px;
  height: 280px;
  overflow: hidden;
  margin: 5px 30px;
  border: solid 1px #EDEDED;
  background-color: #E84646;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px; }

.whatwedo-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: transparent; }

.whatwedo-cover:hover ~ .whatwedo-cover-left {
  left: -170px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  animation-delay: .3s; }

.whatwedo-cover:hover ~ .whatwedo-cover-right {
  right: -170px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-icon img {
  margin-top: -200px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover:hover ~ .items-heading {
  margin-bottom: -70px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }

.whatwedo-cover-left {
  position: absolute;
  top: -25px;
  left: -25px;
  z-index: 2;
  height: 350px;
  width: 150px;
  background-color: white;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg); }

.whatwedo-cover-right {
  position: absolute;
  top: -25px;
  right: -25px;
  z-index: 2;
  background-color: white;
  height: 350px;
  width: 150px;
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -ms-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg); }

.items-heading {
  max-width: 100px;
  width: 100px;
  position: absolute;
  bottom: 40px;
  left: 30%;
  z-index: 3;
  text-align: center;
  color: #FCAD56;
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.items-icon img {
  max-width: 100px;
  width: 100px;
  position: absolute;
  z-index: 3;
  top: 75px;
  left: 75px;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

.slash {
  font-size: 18em;
  position: absolute;
  top: 1%;
  left: -10%;
  color: rgba(0, 0, 0, 0.1) !important;
  font-weight: 200; }

.item-whatwedo-below {
  margin-top: 80px;
  height: 200px;
  width: 250px;
  z-index: 1; }

.item-whatwedo-below p {
  max-width: 92%;
  margin-left: 4%;
  text-align: center;
  font-size: 1em;
  color: white;
  line-height: 21px; }

.item-whatwedo-below h1 {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  margin: 10px 0 20px 0;
  color: white;
  font-size: 1.3em;
  line-height: 21px; }
