@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);
html {
  text-rendering: optimizeLegibility;
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif; }

.columns {
  padding: 0;
  margin: 0; }

.row {
  max-width: 100%;
  height: 100%; }

.clear {
  clear: both; }

nav {
  position: absolute;
  z-index: 998;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px; }

nav ul li {
  display: inline-block; }

.section {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.home {
  background-color: #FCAD56;
  overflow: hidden;
  position: relative; }

.home-logo {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  transform: rotate(-7deg);
  margin: -80px 0 0 280px; }

.sidebar {
  height: 120%;
  width: 600px;
  margin-left: -200px;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 999;
  -webkit-transform: rotate(7deg);
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.3); }
