@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic|Varela+Round);
html {
  text-rendering: optimizeLegibility;
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  overflow: scroll; }

.columns {
  padding: 0;
  margin: 0; }

.row {
  max-width: 100%;
  height: 100%; }

.clear {
  clear: both; }

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  z-index: 998;
  top: 0;
  width: 100%;
  background-color: white;
  height: 80px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
  -webkit-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: navigation-slidein 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

.nav-logo {
  display: inline;
  position: absolute;
  right: 850px;
  width: 80px;
  margin-top: 20px; }

nav ul {
  display: inline-block;
  position: absolute;
  right: 45px; }

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px; }

nav ul li a {
  color: #AFAFAF;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  -webkit-transition: .2s all;
  -moz-transition: .2s all;
  -ms-transition: .2s all;
  -o-transition: .2s all;
  transition: .2s all; }

nav ul li a:hover {
  color: #E84646; }

.menu-slash {
  color: #E84646;
  webkit-user-select: none; }

.section {
  height: 100%;
  min-height: 100%;
  width: 100%;
  overflow: hidden; }

.home {
  background-color: #FCAD56;
  overflow: hidden;
  position: relative; }

.home-logo {
  position: relative;
  top: 50%;
  width: 238px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: rotate(-7deg);
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  transform: rotate(-7deg);
  margin: -80px 0 0 280px; }

.sidebar {
  height: 120%;
  width: 600px;
  margin-left: -200px;
  background-color: #E84646;
  position: absolute;
  top: -10%;
  left: 0;
  z-index: 999;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  box-shadow: 1px 6px 6px rgba(0, 0, 0, 0.5);
  -webkit-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: sidebar-slidein 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.sidebar video {
  height: 150px;
  width: 200px;
  border-right: solid 1px #E84646; }

@keyframes sidebar-slidein {
  0% {
    margin-left: -800px; }
  100% {
    margin-left: -200px; } }
@keyframes navigation-slidein {
  0% {
    margin-top: -80px; }
  100% {
    margin-top: 0px !important; } }
@keyframes more-btn-bouncein {
  0% {
    bottom: -35px; }
  25% {
    bottom: 50px; }
  50% {
    bottom: 35px; }
  75% {
    bottom: 45px; }
  100% {
    bottom: 35px; } }
@keyframes more-btn-bounce {
  0% {
    bottom: 35px; }
  50% {
    bottom: 50px; }
  100% {
    bottom: 30px; } }
.home-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(252, 173, 86, 0.3);
  z-index: 997; }

.video-container {
  z-index: 900; }

.more-btn-div {
  -webkit-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bouncein 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  bottom: 35px;
  right: 35px;
  z-index: 999; }

.more-btn {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  bottom: 35px;
  right: 35px;
  cursor: pointer; }

.more-btn:hover {
  -webkit-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: more-btn-bounce 0.6s infinite cubic-bezier(0.645, 0.045, 0.355, 1); }

.more-btn p {
  line-height: 60px;
  color: #E84646;
  font-weight: 800; }
